/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-*
.hgignore
.hg/

.idea/
.vscode/
.calva/
.lsp/
.clj-kondo/
.clojure-lsp/

/hiccup.html
/hiccup.inline.html

/*.png

.ruby-gemset
.ruby-version

.DS_Store