body,
html,
.body {
  background: #FFF !important;
  font-family: Arial, sans-serif !important;
}

@media only screen and (max-device-width: 564px) {
    table.body th.columns { padding-left: 0px !important; padding-right: 0px !important; }
}

table.container { max-width: 564px; }

h2 {
  font-size: 16px !important;
  font-weight: bold !important;
}

table th {
  padding: 0px !important;
}

a.post-link {
  color: #4C67FC;
  font-size: 20px;
  text-decoration: underline;
}

p.attribution {
  color: #A0A2A7;
  font-size: 14px;
}

table.footer p {
  color: #898D93;
  font-size: 14px;
}

table.footer p a {
  color: #898D93;
  text-decoration: underline;
}

table.board {
  border-left: 1px solid #F2F1ED;
  border-right: 1px solid #F2F1ED;
  border-bottom: 1px solid #F2F1ED;
}