body,
html,
.body {
  background: #FBFAF7 !important;
  font-family: Helvetica, sans-serif !important;
}

@media only screen and (max-device-width: 564px) {
    table.body th.columns { padding-left: 0px !important; padding-right: 0px !important; }
}

table.container { max-width: 564px; }

h1 {
  color: #34414F !important;
  text-align: center !important;
  font-size: 32px !important;
  font-weight: bold !important;
}

h2 {
  color: #34414F !important;
  font-size: 16px !important;
  font-weight: bold !important;
}

table th {
  padding: 0px !important;
}

table.header, table.footer {
  background: #FBFAF7;
}

a {
  color: #3FBD7C;
}

a:hover {
  color: #64cb96;
}

a.post-link {
  font-size: 20px;
  text-decoration: underline;
}

p.attribution {
  color: #898D93;
  font-size: 14px;
}

table.footer p {
  color: #C4C6C9;
  font-size: 14px;
}

table.board {
  border-left: 1px solid #F2F1ED;
  border-right: 1px solid #F2F1ED;
  border-bottom: 1px solid #F2F1ED;
}