body,
html,
.body {
  background: #fff !important;
  font-family: Domine-Regular, Georgia, serif;
}

a,
a:hover,
a:active,
a:visited {
  color: #0A0A0A;
  font-family: Domine-Regular, Georgia, serif;
  text-decoration: underline;
}

table.container {
  width: 450px;
}

/* === Sender message === */

table.note {
  background: #fff;
  display: table;
  width: 100%;
}

table.note th,
table.note th p {
  font-family: Arial, sans-serif;
  font-size: 15px;
}

/* === Company Update === */

th.columns {
  padding-bottom: 0px !important;
}

/* Topic */

table.topic {
  border-bottom: 1px solid #EDEDED;
}

table.topic.last {
  border-bottom: 0;
  margin-bottom: 30px;
}

table.topic th.large-10 th.small-10 {
  padding-left: 0;
  padding-right: 0;  
}

table.topic p.topic-headline {
  font-size: 18px;
  color: #0A0A0A;
  font-family: Domine-Regular, Georgia, serif !important;
  line-height: 1.5;
  margin-bottom: 0px;
}

table.topic p.topic-title {
  font-family: OpenSans, Arial, sans-serif !important;
  font-size: 15px;
  line-height: 1.5 !important;
  letter-spacing: 1px;
  /* color: #4e5a6b; opacity: 0.5; is the same as: */
  color: #A6ACB4 !important;
  margin-bottom: 5px;
}

table.topic a.topic-read-more {
  text-decoration: underline !important;
}

table.topic,
table.topic p,
table.topic ul {
  font-size: 15px;
  color: #0A0A0A;
  font-family: Domine-Regular;
  line-height: 1.5;
}

table.topic h1,
table.topic h2,
table.topic h3,
table.topic h4 {
  font-family: Domine-Regular, Georgia, serif !important;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5;
  color: #0A0A0A;
}

/* Data Topic */

table.topic span.metric {
  font-family: OpenSans, Arial, sans-serif !important;
  font-weight: bold;
  line-height: 1.5 !important;
}

table.topic span.metric-diff {
  font-family: OpenSans, Arial, sans-serif !important;
  line-height: 1.5 !important;
}


table.topic span.metric {
  font-size: 15px !important;
  margin-bottom: 20px;
  color: #0A0A0A;
}

table.topic span.metric.pos {
  color: #26C485;
}

table.topic span.metric.neg {
  color: #D72A46;
}

table.topic span.label {
  padding-left: 7px;
  font-size: 15px !important;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

img.sparkline, img.sparkbar {
  display: inline-block;
  vertical-align: baseline;
}

/* === Footer === */

table.footer {
  background: #f9f9f9;
  display: table;
  width: 100%;
}

table.footer p,
table.footer a {
  font-size: 15px;
  line-height: 1.3;
  font-family: Domine-Regular, Georgia, serif !important;
  color: #4e5a6b;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hypens: none;
}