body,
html,
.body {
  background: white !important;
}

p {
    font-family: Muli, Helvetica, Arial, sans-serif !important;
    font-size: 18px;
    color: #4e5a6b;
    line-height: 1.6;
    -webkit-hyphens: manual;
    -moz-hyphens: manual;
    hyphens: manual;
}

table.button.oc table td {
  background: #4C67FC;
}

table.button.oc table a {
  font-family: Muli, Helvetica, Arial, sans-serif !important;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 1px;
  color: #FFF;
}