body,
html,
.body {
  background-color: white;
  color: #34414F;
  width: 100%;
  height: 100%;
}

.inner-body {
  background-color: white;
  max-width: 600px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  background-color: white !important;
}

table th, 
table.body .columns,
table.body .column {
  padding: 0px !important;
}

table th.body-spacer {
  background-color: white !important;
}

h1 {
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 24px;
  font-weight: bold;  
  color: #34414F;
  margin: 0px;
}

h2 {
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 24px;
  font-weight: bold;  
  color: #34414F;
  margin: 0px;
}

p {
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 16px;
  color: #34414F;
  line-height: 1.5;
  margin: 0px;
}

p.attribution {
  font-size: 14px;
  color: #898D93;
}

span.note-body {
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 14px;
  font-weight: 400;
}

span.button-text {
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 14px;
  font-weight: bold;
  padding-top: 13px;
}

table.cta-button span.button-text {
  color: white;
}

table.post-button span.button-text {
  color: #3FBD7C;
}

table.footer p {
  color: #C4C6C9;
  font-size: 14px;
}

table.footer a {
  font-weight: bold;
  color: #3FBD7C;
}

/* New template specific css */
.footer-table {
  background-color: white !important;
  max-width: 600px;
  text-align: center;
  vertical-align: middle;
}

.email-content {
  max-width: 600px;
  background-color: white !important;
  text-align: center;
  vertical-align: middle;
}

.footer-top-border {
  border-top: 1px solid #F0F0F1;
}

p.header-paragraph {
  text-align: right;
  font-size: 14px;
  color: #898D93;
}

p.header-paragraph a {
  color: lightgreen;
  font-size: 14px;
  color: #3FBD7C;
  text-decoration: underline;
}

table.header-bottom {
  border-bottom: 1px solid #F0F0F1;
}

p.footer-paragraph {
  color: #898D93;
  font-size: 14px;
  font-weight: 400;
}

p.footer-paragraph.bottom-footer, p.footer-paragraph.bottom-footer a {
  color: #C4C6C7;
}

p.footer-paragraph a {
  color: #898D93;
  text-decoration: underline;
  font-weight: 400;
}

table.footer-table a.footer-link {
  float: right;
  margin-left: 16px;
  text-decoration: underline;
}

.note-author-avatar {
  float: left;
}

span.note-author-name {
  float: left;
  padding-top: 10px;
  margin-left: 8px;
  font-weight: bold;
  font-size: 14px;
}

table.horizontal-line {
  border-top: 1px solid #F0F0F1;
}

p.digest-help {
  color: #898D93;
  font-size: 14px;
}

p.digest-help a{
  color: #3FBD7C;
  text-decoration: underline;
}

th.footer-icon img {
  float: right;
}

img.read-post-image {
  width: 16px;
  height: 16px;
  float: left;
}

span.read-post-text {
  float: left;
  margin-left: 8px;
  color: #3FBD7C;
  font-size: 14px;
}

p.digest-bottom-footer-paragraph {
  color: rgba(137, 141, 147, 0.5);
  font-size: 14px;
  font-weight: 400;
}

p.digest-footer-paragraph, p.digest-footer-paragraph a {
  color: #C4C6C7;
  font-size: 14px;
  font-weight: 400;
}

p.digest-footer-paragraph a {
  font-weight: 400;
  text-decoration: underline;
}