body,
html,
.body {
  background-color: white;
  color: #34414F;
  width: 100%;
  height: 100%;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  background-color: white !important;
}

table th, 
table.body .columns,
table.body .column {
  padding: 0px !important;
}

table th.body-spacer {
  background-color: white !important;
}

h1 {
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 24px;
  font-weight: bold;  
  color: #34414F;
  margin: 0px;
}

h2 {
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 16px;
  font-weight: bold;  
  color: #3FBD7C;
  margin: 0px;
}

p {
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 16px;
  color: #34414F;
  line-height: 1.5;
  margin: 0px;
}

p.attribution {
  font-size: 12px;
  line-height: 18px;
  color: #99A0A7;
}

span.note-body {
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 14px;
  font-weight: 400;
}

span.button-text {
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 14px;
  font-weight: bold;
  padding-top: 13px;
}

table.cta-button span.button-text {
  color: white;
}

table.post-button span.button-text {
  color: #3FBD7C;
}

table.footer p {
  color: #C4C6C9;
  font-size: 14px;
}

table.footer a {
  font-weight: bold;
  color: #3FBD7C;
}

.header-table {
  background-color: white !important;
  max-width: 600px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.footer-table {
  background-color: white !important;
  max-width: 600px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.email-content {
  max-width: 600px;
  width: 100%;
  background-color: white !important;
  text-align: center;
  vertical-align: middle;
}

.header-bottom-border {
  border-bottom: 1px solid #F0F0F1;
}

.footer-top-border {
  border-top: 1px solid #F0F0F1;
}

p.header-paragraph {
  text-align: right;
  font-size: 14px;
  color: #898D93;
}

p.header-paragraph a {
  color: lightgreen;
  font-size: 14px;
  color: #3FBD7C;
  text-decoration: underline;
}

table.header-bottom {
  border-bottom: 1px solid #F0F0F1;
}

p.footer-paragraph {
  color: #898D93;
  font-size: 14px;
  font-weight: 400;
}

p.header-paragraph {
  color: #898D93;
  font-size: 14px;
  font-weight: 400;
}

p.footer-paragraph.bottom-footer, p.footer-paragraph.bottom-footer a {
  color: #C4C6C7;
}

p.header-paragraph.top-header, p.footer-paragraph.top-header a {
  color: #C4C6C7;
}

p.footer-paragraph a {
  color: #898D93;
  text-decoration: underline;
  font-weight: 400;
}

p.header-paragraph a {
  color: #898D93;
  text-decoration: underline;
  font-weight: 400;
}

table.footer-table a.footer-link {
  float: right;
  margin-left: 16px;
  text-decoration: underline;
}

.note-left-padding {
  padding-left: 24px !important;
}

.note-x-margin > * {
  margin-left: 24px !important;
  margin-right: 24px !important;
}

.note-author-avatar {
  float: left;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border-radius: 50%;
}

span.note-author-name {
  float: left;
  padding-top: 4px;
  font-weight: bold;
  font-size: 14px;
}

table.horizontal-line {
  border-top: 1px solid #F0F0F1;
}

p.digest-help {
  color: #898D93;
  font-size: 14px;
}

p.digest-help a{
  color: #3FBD7C;
  text-decoration: underline;
}

th.footer-icon img {
  float: right;
}

th.header-icon img {
  float: left;
}

img.read-post-image {
  width: 16px;
  height: 16px;
  float: left;
}

span.read-post-text {
  float: left;
  margin-left: 8px;
  color: #3FBD7C;
  font-size: 14px;
}

p.digest-bottom-footer-paragraph {
  color: rgba(137, 141, 147, 0.5);
  font-size: 14px;
  font-weight: 400;
}

p.digest-footer-paragraph, p.digest-footer-paragraph a {
  color: #99A0A7;
  font-size: 14px;
  font-weight: 400;
}

p.digest-footer-paragraph a {
  font-weight: 400;
  text-decoration: underline;
}

p.invite-carrot-disclaimer {
  color: #34414f;
  font-size: 16px;
  font-weight: 400;
}

p.invite-carrot-disclaimer a {
  color: #34414f;
  font-size: 16px;
  text-decoration: underline;
  font-weight: 400;
}

img.green-button {
  width: 100%;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 20px;
  display: block;
  border: 0px;
}

p.notification-link a {
  font-size: 14px;
  font-weight: bold;
  color: #3FBD7C;
}

span.notification-content, span.notification-content p, span.notification-content div {
  color: #34414F;
}

span.oc-mention {
  font-weight: bold;
}


.note-paragraph {
  background-color: #FDF6E4 !important;
}

.note-paragraph.top-note-paragraph, .note-paragraph.top-note-paragraph tr, .note-paragraph.top-note-paragraph tr th {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.note-paragraph.bottom-note-paragraph, .note-paragraph.bottom-note-paragraph tr, .note-paragraph.bottom-note-paragraph tr th {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.note-paragraph .text-left {
  margin-left: 24px;
  margin-right: 24px;
}

a.learn-more {
  float: left;
  margin-left: 16px;
  color: #3FBD7C;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}

.left-align {
  float: left;
}

img.post-avatar {
  width: 32px;
  height: 32px;
  object-fit: contain;
  border-radius: 50%;
  float: left;
  margin-right: 16px;
}

.post-right-side {
  width: calc(100% - 48px) !important;
}

.token-link {
  color: #3FBD7C;
  font-size: 16px;
  text-align: left;
  cursor: pointer;
}

.green-button:hover {
  color: white;
}

.green-button {
  display: block;
  float: left;
  font-size: 14px;
  font-weight: bold;
  color: white;
  min-width: 220px;
  background-color: #52C489;
  border-radius: 100px;
  text-align: center;
  padding: 11px 0px;
}

.auto-x-margin {
  margin: auto;
}

.center-align {
  text-align: center;
}

.go-to-posts {
  display: block;
  margin: 0 auto;
  font-size: 16px;
  font-weight: bold;
  color: #FB5E48;
  width: 152px;
  background-color: #FFDFDB;
  border-radius: 100px;
  text-align: center;
  padding: 11px 0px;
}

.go-to-posts:visited, .go-to-posts:hover {
  color: #FB5E48;
}

.something-important {
  margin: auto;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  font-size: 14px;
  color: #34414F;
}

.create-new-post {
  display: inline;
  color: #3FBD7C;
  font-weight: bold;
  line-height: 22px;
}

.create-new-post:visited {
  color: #3FBD7C;
}

.post-right-side h2.text-left, .post-right-side p.text-left {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: calc(74vw - 48px);
  width: 100%;
}

/*
  Gmail doesn't linke multiple media queries, if you need to use
  @media only screen and (max-width:596px)
  use the one in foundation.
  Also make sure the syntax is correct. They say it's very picky:
  Check https://stackoverflow.com/a/46871671/561744
*/