body,
html,
.body {
  background: #f9f9f9 !important;
  font-family: Domine-Regular, Georgia, serif;
}

a,
a:hover,
a:active,
a:visited {
  color: #4e5a6c;
  font-family: Domine-Regular, Georgia, serif;
  text-decoration: underline;
}

/* === Sender message === */

table.note {
  background: #fff;
  display: table;
  width: 100%;
}

table.note th,
table.note th p {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* === Company Update === */

th.columns {
  padding-bottom: 0px !important;
}

table.header {
  background: #f9f9f9;
}

/* Header */

table.header p.company-name {
  font-family: Domine-Regular, Georgia, serif !important;
  font-size: 26px;
  color: #4e5a6b;
  margin-bottom: 0px !important;
  font-weight: bold;
  line-height: 1.5;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hypens: none;
}

table.header p.title {
  font-size: 18px;
  font-weight: bold;
  color: #4e5a6b;
  font-family: Domine-Regular, Georgia, serif !important;
  line-height: 1.5;
  letter-spacing: normal;
}

/* Topic */

table.topic {
  border-radius: 2px;
  box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 3px 0 #ffffff;
  margin-bottom: 5px;
}

table.topic p.topic-headline {
  font-size: 26px;
  color: #4e5a6b;
  font-family: Domine-Regular, Georgia, serif !important;
  line-height: 1.5;
}

table.topic p.topic-title,
table.topic a.topic-read-more,
table.topic a.topic-read-more:hover,
table.topic a.topic-read-more:visited,
table.topic a.topic-read-more:active {
  font-family: OpenSans, Arial, sans-serif !important;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5 !important;
  letter-spacing: 1px;
  /* color: #4e5a6b; opacity: 0.5; is the same as: */
  color: #A6ACB4 !important;
  margin-bottom: 10px;
}

table.topic a.topic-read-more {
  text-decoration: underline !important;
}

table.topic,
table.topic p,
table.topic ul {
  font-size: 16px;
  color: #4e5a6b;
  font-family: Domine-Regular;
  line-height: 1.5;
}

table.topic h1,
table.topic h2,
table.topic h3,
table.topic h4 {
  font-family: Domine-Regular, Georgia, serif !important;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5;
  color: #4e5a6b;
}

/* Data Topic */

table.topic p.metric, table.topic p.label {
  font-family: OpenSans, Arial, sans-serif !important;
  font-weight: bold;
  line-height: 1.5 !important;
  /* color: #4e5a6b; opacity: 0.75; is the same as: */
  color: #7A838F !important;
}

table.topic p.metric {
  font-size: 32px !important;
  margin-bottom: 0 !important;
}

table.topic p.label {
  font-size: 16px !important;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

/* === Footer === */

table.footer {
  background: #f9f9f9;
  display: table;
  width: 100%;
}

table.footer p {
  font-size: 18px;
  line-height: 1.3;
  font-family: Domine-Regular, Georgia, serif !important;
  color: #4e5a6b;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hypens: none;
}

table.footer p a,
table.footer p a:hover,
table.footer p a:active,
table.footer p a:visited {
  font-weight: bold;
}