body,
html,
.body {
  background: #f9f9f9 !important;
  font-family: Domine-Regular, Georgia, serif !important;
}

table.message {
  background: #fff;
  display: table;
  width: 100%;
}

table.note th, table.note th p {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.header {
  background: #f9f9f9;
}

img.logo {
  max-height: 50px;
  max-width: 50px;
}

h4.name {
  font-family: Domine-Regular, Georgia, serif !important;
  font-size: 26px;
  color: #4e5a6b;
  margin-bottom: 0px !important;
  padding-top: 13px;
  font-weight: bold;
}

th.columns {
  padding-bottom: 0px !important;
}

table.topic {
  border-radius: 2px;
  box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 3px 0 #ffffff;
  margin-bottom: 5px;
}

p.title, p.topic-headline {
  font-size: 26px;
  color: #4e5a6b;
  font-family: Domine-Regular, Georgia, serif !important;
  line-height: 1.5;
}

p.topic-title, a.topic-read-more {
  font-family: OpenSans, Arial, sans-serif !important;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5 !important;
  letter-spacing: 1px;
  color: #4e5a6b;
  opacity: 0.5;
  margin-bottom: 10px;
}

th.topic p.metric {
  font-family: OpenSans, Arial, sans-serif !important;
  font-weight: bold;
  font-size: 32px !important;
  line-height: 1.5 !important;
  color: #4e5a6b;
  opacity: 0.75;
  margin-bottom: 0 !important;
}

th.topic p.label {
  font-family: OpenSans, Arial, sans-serif !important;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #4e5a6b;
  opacity: 0.75;
  margin-bottom: 20px;
}

a.topic-read-more {
  text-decoration: underline !important;
}

th.topic, th.topic p, th.topic ul, .content {
  font-size: 16px;
  color: #4e5a6b;
  font-family: Domine-Regular !important;
  line-height: 1.5;
}

th.topic h3 {
  font-family: Domine-Regular, Georgia, serif !important;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5;
  color: #4e5a6b;
}

a {
  color: #4e5a6b;
  font-family: Domine-Regular, Georgia, serif !important;
  text-decoration: underline;
  text-decoration-color: #f9d748; /* OC yellow, new CSS3, won't work most places */
}

a:visited {
  color: #4e5a6b;
}

a:hover {
  color: #4e5a6b;
}